<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div th:each="user : ${notes.keySet()}">
        <div class="card">
            <h3 class="card-header" th:text="'User: ' + ${user}"></h3>
            <div class="card-block">
                <div th:each="note : ${notes.get(user)}">
                    <div class="w3-card-4" style="width: 100%">

                        <header class="w3-container w3-light-grey">
                            <h3 th:text="${note.name}">Name</h3>
                        </header>

                        <div class="w3-container">
                            <p th:text="'Time limit: ' + ${#calendars.format(note.timeLimit, 'MM/dd/yyyy')}">Time limit</p>
                            <hr />
                            <div th:text="${note.description}" style="overflow: scroll; height: 150px">Description</div>
                        </div>

                        <button class="w3-button w3-block w3-dark-grey doneBtn" th:attr="id='doneBtn_' + ${note.id}">Delete user note</button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer/footer :: footer"/>

</body>
</html>